.Header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
}

header{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 10%;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    width: 100%;
    height: 40%;
}